html{height:100%;}
body{height:100%;}


.w1000{width:1000px;margin:0 auto;}

.page_box{height:100%;overflow:hidden;position:relative;}
.page_box .main{height:100%;position:absolute;width:100%;}
.page_opt{height:100%;overflow:hidden;}

.menu{position:absolute;z-index:9;left:50%;margin-left:573px;bottom:42%;}
.menu a{display:block;width:87px;height:33px;border-radius:20px;border:1px solid #d4e3f9;color:#227fc9;text-align:center;font:16px/33px Microsoft YaHei;margin-bottom:15px;}
.menu a.on , .menu a:hover{background:#3294e2;color:#fff;line-height:35px;width:89px;height:35px;border:0 none;text-decoration:none;}

.page_title{width:229px;height:229px;position:absolute;background:url(../images/page_title.png) no-repeat;z-index:9;right:50%;top:442px;margin-right:139px;}
.p_icon{position:absolute;width:77px;height:77px;}
.icon1{background:url(../images/page_title_icon1.png);top:-83px;left:75px;}
.icon2{background:url(../images/page_title_icon2.png);top:76px;left:-82px;}
.icon3{background:url(../images/page_title_icon3.png);bottom:-82px;left:75px;}
.icon4{background:url(../images/page_title_icon4.png);top:76px;right:-82px;}

.icon1 p.index{color:#86cbdf;font:24px/30px Microsoft YaHei;position:absolute;right:86px;text-align:right;width:120px;top:9px;}
.icon2 p.index{color:#f37363;font:24px/30px Microsoft YaHei;position:absolute;top:86px;right:0px;text-align:right;width:120px;}
.icon3 p.index{color:#62cda9;font:24px/30px Microsoft YaHei;position:absolute;top:9px;left:86px;text-align:left;width:120px;}
.icon4 p.index{color:#edac4c;font:24px/30px Microsoft YaHei;position:absolute;bottom:86px;left:0px;text-align:left;width:120px;}

.p_icon p.page{display:none;position:absolute;left:85px;font:36px/77px Microsoft YaHei;width:700px;}
.icon1 p.page{color:#86cbdf;}
.icon2 p.page{color:#f37363;}
.icon3 p.page{color:#62cda9;}
.icon4 p.page{color:#edac4c;}

/* 下载页背景 */
.btm_page_title{width:1000px;height:134px;background:url(../images/btm_page_title.png);position:absolute;z-index:8;left:50%;margin-left:-500px;top:-140px;}


/* 动画系统 */
/* 下载页背景 */
.btm_page_title.showi{
	-webkit-transform:translate(0px,140px) !important;
  -moz-transform:translate(0px,140px) !important;
  -ms-transform:translate(0px,140px) !important;
  -o-transform:translate(0px,140px) !important;
  transform:translate(0px,140px) !important;
}
.btm_page_title.show{
	-webkit-transform:translate(0px,140px);
  -moz-transform:translate(0px,140px);
  -ms-transform:translate(0px,140px);
  -o-transform:translate(0px,140px);
  transform:translate(0px,140px);
}
.btm_page_title.hidei{
	-webkit-transform:translate(0px,0px) !important;
  -moz-transform:translate(0px,0px) !important;
  -ms-transform:translate(0px,0px) !important;
  -o-transform:translate(0px,0px) !important;
  transform:translate(0px,0px) !important;
}
.btm_page_title.hide{
	-webkit-transform:translate(0px,0px);
  -moz-transform:translate(0px,0px);
  -ms-transform:translate(0px,0px);
  -o-transform:translate(0px,0px);
  transform:translate(0px,0px);
}
/* 旋转title */
.rotation_main_0{
  -webkit-transform:translate(0px,0px) rotate(0deg) !important;
  -moz-transform:translate(0px,0px) rotate(0deg) !important;
  -ms-transform:translate(0px,0px) rotate(0deg) !important;
  -o-transform:translate(0px,0px) rotate(0deg) !important;
  transform:translate(0px,0px) rotate(0deg) !important;
}
.rotation_main0{
  -webkit-transform:translate(0px,0px) rotate(0deg);
  -moz-transform:translate(0px,0px) rotate(0deg);
  -ms-transform:translate(0px,0px) rotate(0deg);
  -o-transform:translate(0px,0px) rotate(0deg);
  transform:translate(0px,0px) rotate(0deg);
}
.rotation_0{
  -webkit-transform: rotate(0deg) !important;
  -moz-transform:  rotate(0deg) !important;
  -ms-transform:  rotate(0deg) !important;
  -o-transform:  rotate(0deg) !important;
  transform: rotate(0deg) !important;
}
.rotation0{
  -webkit-transform: rotate(0deg);
  -moz-transform:  rotate(0deg);
  -ms-transform:  rotate(0deg);
  -o-transform:  rotate(0deg);
  transform: rotate(0deg);
}
.rotation_main_1{
  -webkit-transform:translate(-152px,-577px) rotate(-180deg) !important;
  -moz-transform:translate(-152px,-577px) rotate(-180deg) !important;
  -ms-transform:translate(-152px,-577px) rotate(-180deg) !important;
  -o-transform:translate(-152px,-577px) rotate(-180deg) !important;
  transform:translate(-152px,-577px) rotate(-180deg) !important;
}
.rotation_main1{
  -webkit-transform:translate(-152px,-577px) rotate(-180deg);
  -moz-transform:translate(-152px,-577px) rotate(-180deg);
  -ms-transform:translate(-152px,-577px) rotate(-180deg);
  -o-transform:translate(-152px,-577px) rotate(-180deg);
  transform:translate(-152px,-577px) rotate(-180deg);
}
.rotation_1{
  -webkit-transform: rotate(180deg) !important;
  -moz-transform:  rotate(180deg) !important;
  -ms-transform:  rotate(180deg) !important;
  -o-transform:  rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
.rotation1{
  -webkit-transform: rotate(180deg);
  -moz-transform:  rotate(180deg);
  -ms-transform:  rotate(180deg);
  -o-transform:  rotate(180deg);
  transform: rotate(180deg);
}
.rotation_main_2{
  -webkit-transform:translate(-152px,-577px) rotate(-90deg) !important;
  -moz-transform:translate(-152px,-577px) rotate(-90deg) !important;
  -ms-transform:translate(-152px,-577px) rotate(-90deg) !important;
  -o-transform:translate(-152px,-577px) rotate(-90deg) !important;
  transform:translate(-152px,-577px) rotate(-90deg) !important;
}
.rotation_main2{
  -webkit-transform:translate(-152px,-577px) rotate(-90deg);
  -moz-transform:translate(-152px,-577px) rotate(-90deg);
  -ms-transform:translate(-152px,-577px) rotate(-90deg);
  -o-transform:translate(-152px,-577px) rotate(-90deg);
  transform:translate(-152px,-577px) rotate(-90deg);
}
.rotation_2{
  -webkit-transform: rotate(90deg) !important;
  -moz-transform:  rotate(90deg) !important;
  -ms-transform:  rotate(90deg) !important;
  -o-transform:  rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.rotation2{
  -webkit-transform: rotate(90deg);
  -moz-transform:  rotate(90deg);
  -ms-transform:  rotate(90deg);
  -o-transform:  rotate(90deg);
  transform: rotate(90deg);
}
.rotation_main_3{
  -webkit-transform:translate(-152px,-577px) rotate(0deg) !important;
  -moz-transform:translate(-152px,-577px) rotate(0deg) !important;
  -ms-transform:translate(-152px,-577px) rotate(0deg) !important;
  -o-transform:translate(-152px,-577px) rotate(0deg) !important;
  transform:translate(-152px,-577px) rotate(0deg) !important;
}
.rotation_main3{
  -webkit-transform:translate(-152px,-577px) rotate(0deg);
  -moz-transform:translate(-152px,-577px) rotate(0deg);
  -ms-transform:translate(-152px,-577px) rotate(0deg);
  -o-transform:translate(-152px,-577px) rotate(0deg);
  transform:translate(-152px,-577px) rotate(0deg);
}
.rotation_3{
  -webkit-transform: rotate(0deg) !important;
  -moz-transform:  rotate(0deg) !important;
  -ms-transform:  rotate(0deg) !important;
  -o-transform:  rotate(0deg) !important;
  transform: rotate(0deg) !important;
}
.rotation3{
  -webkit-transform: rotate(0deg);
  -moz-transform:  rotate(0deg);
  -ms-transform:  rotate(0deg);
  -o-transform:  rotate(0deg);
  transform: rotate(0deg);
}
.rotation_main_4{
  -webkit-transform:translate(-152px,-577px) rotate(-270deg) !important;
  -moz-transform:translate(-152px,-577px) rotate(-270deg) !important;
  -ms-transform:translate(-152px,-577px) rotate(-270deg) !important;
  -o-transform:translate(-152px,-577px) rotate(-270deg) !important;
  transform:translate(-152px,-577px) rotate(-270deg) !important;
}
.rotation_main4{
  -webkit-transform:translate(-152px,-577px) rotate(-270deg);
  -moz-transform:translate(-152px,-577px) rotate(-270deg);
  -ms-transform:translate(-152px,-577px) rotate(-270deg);
  -o-transform:translate(-152px,-577px) rotate(-270deg);
  transform:translate(-152px,-577px) rotate(-270deg);
}
.rotation_4{
  -webkit-transform: rotate(270deg) !important;
  -moz-transform:  rotate(270deg) !important;
  -ms-transform:  rotate(270deg) !important;
  -o-transform:  rotate(270deg) !important;
  transform: rotate(270deg) !important;
}
.rotation4{
  -webkit-transform: rotate(270deg);
  -moz-transform:  rotate(270deg);
  -ms-transform:  rotate(270deg);
  -o-transform:  rotate(270deg);
  transform: rotate(270deg);
}


.rotation_main_5{
  -webkit-transform:translate(-152px,-804px) rotate(-270deg) !important;
  -moz-transform:translate(-152px,-804px) rotate(-270deg) !important;
  -ms-transform:translate(-152px,-804px) rotate(-270deg) !important;
  -o-transform:translate(-152px,-804px) rotate(-270deg) !important;
  transform:translate(-152px,-804px) rotate(-270deg) !important;
}
.rotation_main5{
  -webkit-transform:translate(-152px,-804px) rotate(-270deg);
  -moz-transform:translate(-152px,-804px) rotate(-270deg);
  -ms-transform:translate(-152px,-804px) rotate(-270deg);
  -o-transform:translate(-152px,-804px) rotate(-270deg);
  transform:translate(-152px,-804px) rotate(-270deg);
}
.rotation_5{
  -webkit-transform: rotate(270deg) !important;
  -moz-transform:  rotate(270deg) !important;
  -ms-transform:  rotate(270deg) !important;
  -o-transform:  rotate(270deg) !important;
  transform: rotate(270deg) !important;
}
.rotation5{
  -webkit-transform: rotate(270deg);
  -moz-transform:  rotate(270deg);
  -ms-transform:  rotate(270deg);
  -o-transform:  rotate(270deg);
  transform: rotate(270deg);
}
/* page1动画 */
.p1_main_img.img1.showi{
	-webkit-transform:translate(-160px,0px) !important;
  -moz-transform:translate(-160px,0px) !important;
  -ms-transform:translate(-160px,0px) !important;
  -o-transform:translate(-160px,0px) !important;
  transform:translate(-160px,0px) !important;
}
.p1_main_img.img1.show{
	-webkit-transform:translate(-160px,0px);
  -moz-transform:translate(-160px,0px);
  -ms-transform:translate(-160px,0px);
  -o-transform:translate(-160px,0px);
  transform:translate(-160px,0px);
}
.p1_main_img.hidei{
	-webkit-transform:translate(0px,0px) !important;
  -moz-transform:translate(0px,0px) !important;
  -ms-transform:translate(0px,0px) !important;
  -o-transform:translate(0px,0px) !important;
  transform:translate(0px,0px) !important;
}
.p1_main_img.hide{
	-webkit-transform:translate(0px,0px);
  -moz-transform:translate(0px,0px);
  -ms-transform:translate(0px,0px);
  -o-transform:translate(0px,0px);
  transform:translate(0px,0px);
}
.p1_main_img.img2.showi{
	-webkit-transform:translate(-80px,0px) !important;
  -moz-transform:translate(-80px,0px) !important;
  -ms-transform:translate(-80px,0px) !important;
  -o-transform:translate(-80px,0px) !important;
  transform:translate(-80px,0px) !important;
}
.p1_main_img.img2.show{
	-webkit-transform:translate(-80px,0px);
  -moz-transform:translate(-80px,0px);
  -ms-transform:translate(-80px,0px);
  -o-transform:translate(-80px,0px);
  transform:translate(-80px,0px);
}
.p1_main_img.run{
	-webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -ms-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}
/* page2动画 */
h3.p2_title.showi{
  -webkit-transform:translate(-100px,0px) !important;
  -moz-transform:translate(-100px,0px) !important;
  -ms-transform:translate(-100px,0px) !important;
  -o-transform:translate(-100px,0px) !important;
  transform:translate(-100px,0px) !important;
}
h3.p2_title.show{
  -webkit-transform:translate(-100px,0px);
  -moz-transform:translate(-100px,0px);
  -ms-transform:translate(-100px,0px);
  -o-transform:translate(-100px,0px);
  transform:translate(-100px,0px);
}
h4.p2_title.showi{
  -webkit-transform:translate(-136px,0px) !important;
  -moz-transform:translate(-136px,0px) !important;
  -ms-transform:translate(-136px,0px) !important;
  -o-transform:translate(-136px,0px) !important;
  transform:translate(-136px,0px) !important;
}
h4.p2_title.show{
  -webkit-transform:translate(-136px,0px);
  -moz-transform:translate(-136px,0px);
  -ms-transform:translate(-136px,0px);
  -o-transform:translate(-136px,0px);
  transform:translate(-136px,0px);
}
.p2_title.hidei{
	-webkit-transform:translate(0px,0px) !important;
  -moz-transform:translate(0px,0px) !important;
  -ms-transform:translate(0px,0px) !important;
  -o-transform:translate(0px,0px) !important;
  transform:translate(0px,0px) !important;
}
.p2_title.hide{
	-webkit-transform:translate(0px,0px);
  -moz-transform:translate(0px,0px);
  -ms-transform:translate(0px,0px);
  -o-transform:translate(0px,0px);
  transform:translate(0px,0px);
}
.p2_title.run{
	-webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  -ms-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

/* page3动画 */
.p3_img_pack.show{
	-webkit-transform:rotateY(360deg) !important;
  -moz-transform:rotateY(360deg) !important;
  -ms-transform:rotateY(360deg) !important;
  -o-transform:rotateY(360deg) !important;
  transform:rotateY(360deg) !important;
}
.p3_img_pack.run{
	-webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  -ms-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.run{
	-webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hidei.run{
	-webkit-transition: all 0.5s ease 0.8s;
  -moz-transition: all 0.5s ease 0.8s;
  -ms-transition: all 0.5s ease 0.8s;
  -o-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
}
.btm_page_title.hidei.run{
	-webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hidei{
	-webkit-transform:translate(0px,0px) !important;
  -moz-transform:translate(0px,0px) !important;
  -ms-transform:translate(0px,0px) !important;
  -o-transform:translate(0px,0px) !important;
  transform:translate(0px,0px) !important;
}
.hide{
	-webkit-transform:translate(0px,0px);
  -moz-transform:translate(0px,0px);
  -ms-transform:translate(0px,0px);
  -o-transform:translate(0px,0px);
  transform:translate(0px,0px);
}

/* page1 */
.nav{height:80px;background:url(../images/nav_bg.jpg) center;}
.logo{background:url(../images/logo.png) no-repeat center;width:212px;height:80px;}
.nav_box a{font:18px/80px Microsoft YaHei;color:#fff;margin-left:55px;display:inline-block;height:75px;}
.nav_box a.on{border-bottom:5px solid #fff;}
.p1_title{width:698px;height:43px;background:url(../images/p1_title.png);margin-top:5%;}
.p1_content{font:24px/36px Microsoft YaHei;color:#6a6a6a;width:390px;margin-top:3%;}
.p1_main_img{width:294px;height:628px;position:absolute;right:0;top:68px;}
.p1_main_img.img1{z-index:8;background:url(../images/p1_phone.png);}
.p1_main_img.img1 .banner{margin:94px 0 0 25px;}
.p1_main_img.img2{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;z-index:7;background:url(../images/p1_phone2.png);}
.p1_main_img.img3{filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;z-index:6;background:url(../images/p1_phone3.png);}
.download_btn{display:block;width:290px;height:70px;background:url(../images/download_btn.png);}
.download_btn.p1{margin-top:520px;margin-left:118px;}
.p1_img{min-height:628px;}

/* page2 */
#page2{background:#f1f7ff;}
.p2_main_img{width:294px;height:628px;background:url(../images/p2_phone.png);margin-top:279px;}
h3.p2_title{font:48px/60px Microsoft YaHei;color:#727f91;margin-top:279px;margin-left:100px;margin-right:-100px;}
h4.p2_title{font:48px/60px Microsoft YaHei;color:#94a7c2;margin-left:195px;margin-right:-100px;}
.p2_r_title{margin-left:82px;}
.download_btn.p2{margin-left:153px;margin-top:34px;}
.p2_img{width:605px;height:349px;background:url(../images/p2_img_icon.png);margin-top:32px;margin-left:19px;}

/* page3 */
#page3{}
#page3 .w1000{padding-top:230px;}
h3.p3_title{font:48px/60px Microsoft YaHei;color:#727f91;text-align:center;}
.p3_img{width:403px;height:273px;position:absolute;left:47px;top:416px;background:url(../images/p3_img.png);z-index:8;padding-top:31px;padding-left:36px;}
.p3_img_pack{width:150px;height:145px;background:url(../images/p3_img2.png);}
.p3_phone{width:608px;height:510px;background:url(../images/p3_phone1.png);position:absolute;top:441px;left:293px;z-index:7;}
.download_btn.p3{position:absolute;top:770px;left:675px;z-index:8;}

/* page4 */
#page4{background:#f1f7ff;}
h3.p4_title{font:48px/60px Microsoft YaHei;color:#727f91;margin-left:82px;}
h3.p4_title.t1{margin-top:370px;}
h4.p4_title{font:36px Microsoft YaHei;margin-top:31px;color:#727f91;}
.download_btn.p4{margin-top:40px;margin-left:56px;}
.p4_phone{width:485px;height:648px;background:url(../images/p4_phone.png);background-size:100%;margin:185px 0 0 152px;}
.p4_img1{width:138px;height:138px;background:url(../images/p4_img1.png);background-size:100%;position:absolute;bottom:110px;right:208px;z-index:4;}
.p4_img2{width:139px;height:139px;background:url(../images/p4_img2.png);background-size:100%;position:absolute;bottom:110px;right:208px;z-index:5;}
.p4_img3{width:174px;height:174px;background:url(../images/p4_img3.png);background-size:100%;position:absolute;bottom:110px;right:208px;z-index:6;}
.p4_img4{width:181px;height:181px;background:url(../images/p4_img4.png);background-size:100%;position:absolute;bottom:110px;right:208px;z-index:7;}
/* 动画 */
.p4_img2.showi{
  -webkit-transform:translate(-93px,-78px) !important;
  -moz-transform:translate(-93px,-78px) !important;
  -ms-transform:translate(-93px,-78px) !important;
  -o-transform:translate(-93px,-78px) !important;
  transform:translate(-93px,-78px) !important;
}
.p4_img2.show{
  -webkit-transform:translate(-93px,-78px);
  -moz-transform:translate(-93px,-78px);
  -ms-transform:translate(-93px,-78px);
  -o-transform:translate(-93px,-78px);
  transform:translate(-93px,-78px);
}
.p4_img3.showi{
  -webkit-transform:translate(-71px,-215px) !important;
  -moz-transform:translate(-71px,-215px) !important;
  -ms-transform:translate(-71px,-215px) !important;
  -o-transform:translate(-71px,-215px) !important;
  transform:translate(-71px,-215px) !important;
}
.p4_img3.show{
  -webkit-transform:translate(-71px,-215px);
  -moz-transform:translate(-71px,-215px);
  -ms-transform:translate(-71px,-215px);
  -o-transform:translate(-71px,-215px);
  transform:translate(-71px,-215px);
}
.p4_img4.showi{
  -webkit-transform:translate(-193px,-157px) !important;
  -moz-transform:translate(-193px,-157px) !important;
  -ms-transform:translate(-193px,-157px) !important;
  -o-transform:translate(-193px,-157px) !important;
  transform:translate(-193px,-157px) !important;
}
.p4_img4.show{
  -webkit-transform:translate(-193px,-157px);
  -moz-transform:translate(-193px,-157px);
  -ms-transform:translate(-193px,-157px);
  -o-transform:translate(-193px,-157px);
  transform:translate(-193px,-157px);
}/*
.p4_img.hidei.run{
  -webkit-transition: all 0s ease 0.8s;
  -moz-transition: all 0s ease 0.8s;
  -ms-transition: all 0s ease 0.8s;
  -o-transition: all 0s ease 0.8s;
  transition: all 0s ease 0.8s;
}*/
.p4_img.run{
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  -ms-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

/* page5 */
#page5{}
.p5_phone{width:294px;height:628px;background:url(../images/p5_phone.png);margin-top:244px;}
h3.p5_title{color:#727f91;font:48px/60px Microsoft YaHei;margin-top:237px;margin-left:83px;}
h4.p5_title{color:#8f9eb3;font:36px/50px Microsoft YaHei;text-align:center;margin-left:83px;}
.download_btn.p5{margin-top:390px;margin-left:230px;z-index:9;}
.p5_img.img1{width:189px;height:309px;background:url(../images/p5_img1.png);background-size:100%;position:absolute;top:551px;left:69px;z-index:6;}
.p5_img.img2{width:190px;height:309px;background:url(../images/p5_img2.png);background-size:100%;position:absolute;top:334px;left:218px;z-index:7;}
.p5_img.img3{width:178px;height:309px;background:url(../images/p5_img3.png);background-size:100%;position:absolute;top:597px;left:367px;z-index:8;}
.p5_img.img4{width:177px;height:309px;background:url(../images/p5_img4.png);background-size:100%;position:absolute;top:365px;left:469px;z-index:7;}
.p5_img_bg{width:560px;height:77px;background:url(../images/p5_img_bg.png);position:absolute;top:747px;left:85px;z-index:-1;}
/* 动画 */
.p5_img.img1.showi{
  -webkit-transform:translate(0px,-118px) !important;
  -moz-transform:translate(0px,-118px) !important;
  -ms-transform:translate(0px,-118px) !important;
  -o-transform:translate(0px,-118px) !important;
  transform:translate(0px,-118px) !important;
}
.p5_img.img1.show{
  -webkit-transform:translate(0px,-118px);
  -moz-transform:translate(0px,-118px);
  -ms-transform:translate(0px,-118px);
  -o-transform:translate(0px,-118px);
  transform:translate(0px,-118px);
}
.p5_img.img2.showi{
  -webkit-transform:translate(0px,123px) !important;
  -moz-transform:translate(0px,123px) !important;
  -ms-transform:translate(0px,123px) !important;
  -o-transform:translate(0px,123px) !important;
  transform:translate(0px,123px) !important;
}
.p5_img.img2.show{
  -webkit-transform:translate(0px,123px);
  -moz-transform:translate(0px,123px);
  -ms-transform:translate(0px,123px);
  -o-transform:translate(0px,123px);
  transform:translate(0px,123px);
}
.p5_img.img3.showi{
  -webkit-transform:translate(0px,-164px) !important;
  -moz-transform:translate(0px,-164px) !important;
  -ms-transform:translate(0px,-164px) !important;
  -o-transform:translate(0px,-164px) !important;
  transform:translate(0px,-164px) !important;
}
.p5_img.img3.show{
  -webkit-transform:translate(0px,-164px);
  -moz-transform:translate(0px,-164px);
  -ms-transform:translate(0px,-164px);
  -o-transform:translate(0px,-164px);
  transform:translate(0px,-164px);
}
.p5_img.img4.showi{
  -webkit-transform:translate(0px,92px) !important;
  -moz-transform:translate(0px,92px) !important;
  -ms-transform:translate(0px,92px) !important;
  -o-transform:translate(0px,92px) !important;
  transform:translate(0px,92px) !important;
}
.p5_img.img4.show{
  -webkit-transform:translate(0px,92px);
  -moz-transform:translate(0px,92px);
  -ms-transform:translate(0px,92px);
  -o-transform:translate(0px,92px);
  transform:translate(0px,92px);
}
.p5_img.hidei.run{
  -webkit-transition: all 0s ease 0.8s;
  -moz-transition: all 0s ease 0.8s;
  -ms-transition: all 0s ease 0.8s;
  -o-transition: all 0s ease 0.8s;
  transition: all 0s ease 0.8s;
}
.p5_img.run{
  -webkit-transition: all 0.9s ease 0.3s;
  -moz-transition: all 0.9s ease 0.3s;
  -ms-transition: all 0.9s ease 0.3s;
  -o-transition: all 0.9s ease 0.3s;
  transition: all 0.9s ease 0.3s;
}

/* page6 */
#page6{background:#f1f7ff;}
.p6_phone{width:294px;height:628px;background:url(../images/p6_phone.png);margin-top:178px;}
h3.p6_title{color:#727f91;font:36px Microsoft YaHei;margin-top:228px;margin-left:258px;}
.p6_img{width:498px;height:229px;background:url(../images/p5_img.png);background-size:100%;margin-top:74px;margin-left:103px;}
.download_button{margin-top:64px;margin-left:82px;width:555px;height:88px;background:url(../images/download_button.png);background-size:100%;display:block;}
















